*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Signika";
    src: url("Signika/Signika-SemiBold.ttf");
}

h1,h2,h3{
    font-family: "Signika";
}

@font-face{
    font-family: "Lato";
    src: url("Lato/Lato-Regular.ttf");
}

p, li{
    font-family: "Lato";
}

body{
    background-color: #EAEDF1;
}

.header{
    margin-top: 82px;
    margin-left: 80px;
    height: 296px;
    width: 1347px;
}

.middle{
    margin-top: 36px;
    margin-left: 81px;
    background-color: #EAEDF1;
    height: 1173px;
    width: 1348px;
}

.middle::before{
    bottom: 0;
    position: absolute;
    content:" ";
    width: 6px;
    left: 753px;
    top: 414px;
    height: 1140px;
    background: #DBE1E8;
    margin-left: -1.5px;
}

.middle::after{
    bottom: 0;
    position: absolute;
    content:" 2004 ";
    color: white;
    text-align: center;
    font-size: 18pt;
    width: 72px;
    left: 721px;
    top: 1554px;
    height: 34px;
    background: #DBE1E8;
    margin-left: -1.5px;
    padding-top: 3px;
}

.footer{
    margin-top: 36px;
    margin-left: 80px;
    background-color: #EAEDF1;
    height: 55px;
    width: 1348px;
}

.h-left{
    height: 296px;
    width: 434px;
    display: inline-block;
}

.h-left div:nth-child(1){
    background-color:white;
    height: 216px;
    width: 434px;
    float: left;
}

.h-left div:nth-child(1) img{
    position: relative;
    top: 36px;
    left: 26px;;
}

.h-left-up h2{
    position: relative;
    top: -72px;
    left: 216px;
    font-size: 22pt;
    color: #33495F;
}

.h-left-up p{
    position: relative;
    top: -71px;
    left: 214px;
    font-size: 13.5pt;
    color: #33495F;
}

.h-left-down{
    float: left;
}

.h-left-down p{
    font-size: 11pt;
}

.h-left div:nth-child(2) div:nth-child(1){
    background-color: #16C4EC;
    height: 80px;
    width: 109px;
}

.h-left div:nth-child(2) img{
    position: absolute;
}


.h-left div:nth-child(2) div:nth-child(1) img{
    top: 321px;
    left: 128px;
    height: 11px;
}

.h-left-down p{
    position: relative;
    top: 44px;
    text-align: center;
    color: white;
}

.h-left div:nth-child(2) div:nth-child(2){
    background-color: #FA5351;
    height: 80px;
    width: 109px;
}

.h-left div:nth-child(2) div:nth-child(2) img{
    top: 317px;
    left: 237px;
    height: 16px;
}

.h-left div:nth-child(2) div:nth-child(3){
    background-color: #10CDC1;
    height: 80px;
    width: 109px;
}

.h-left div:nth-child(2) div:nth-child(3) img{
    top: 320px;
    left: 341px;
    height: 13px;
}

.h-left div:nth-child(2) div:nth-child(4){
    background-color: #33495F;
    height: 80px;
    width: 107px;
}

.h-left div:nth-child(2) div:nth-child(4) img{
    top: 317px;
    left: 451px;
    height: 15px;
}

.h-right{
    margin-left: 85px;
    background-color:white;
    height: 296px;
    width: 824px;
    float: right;
}

.h-right img{
    position: absolute;
    height: 20px;
    top:329px;
}

.h-right img:nth-child(1){
    left: 629px;
}

.h-right img:nth-child(2){
    left: 705px;
}

.h-right img:nth-child(3){
    height: 19px;
    left: 777px;
}

.h-right img:nth-child(4){
    left: 857px;
}

.h-right img:nth-child(5){
    height: 22px;
    top: 328px;
    left: 932px;
}

.h-right img:nth-child(6){
    height: 19px;
    top: 330px;
    left: 1002px;
}

.h-right hr{
    position: absolute;
    top: 293px;
    left: 1117px;
    border: #788695 0.5px solid;
    width: 272px;
}

.h-right .description{
    margin-left: 31px;
    margin-top: 43px;
    float: left;
    width: 405px;
}

.h-right .description h1{
    font-size: 28pt;
    color: #33495F;
}

.h-right .description p{
    font-size: 13.5pt;
    margin-top: 10px;
    margin-left: 1px;
    line-height: 30px;
    text-align: justify;
    color: #33495F;
}

.h-right .description span{
    color: #16C4EC;
}

.contact{
    float: right;
    margin-right: 36px;
    margin-top: 105px;
    width: 276px;
}

.contact p:nth-child(1){
    font-size: 16.8pt;
    color: #33495F;
}

.contact p:nth-child(2){
    color: #FA5351;
    margin-top: 18px;
    font-size: 17pt;
    letter-spacing: 1.5pt;
}

.m-left{
    background-color:#EAEDF1;
    margin-left: -1px;
    height: 1173px;
    width: 639px;
    float: left;
    clear: left;
}

.m-left div{
    position: relative;
}

.m-left > div::after{
    content: "";
    background-color:white;
    width: 20px;
    height: 20px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: calc(50% - 10px);
    border-radius: 50%;
    right: -50px;
    z-index: 100;
}

.m-left h2{
    margin-top: 28px;
    margin-left: 24px;
    font-size: 18.4pt;
    color: #33495F;
}

.m-left span{
    margin-left: 8px;
    font-family: "Lato";
    font-size: 13.3pt;
    color: #9EA7B4;
}

.m-left h3{
    margin-left: 22px;
    margin-top: 2px;
    color: #04BCA6;
    font-size: 15.5pt;
}

.m-left ul{
    list-style-type: none;
}

.m-left ul li{
    margin: 12.2px;
    padding-left: 7px;
    font-size: 12.3pt;
    color: #33495F;
}

.m-left ul li::before{
    content: url("/Image/mark.png") ' ';
}

.m-left .location{
    position: relative;
    top: 40px;
    left: 47px;
    font-size: 11.3pt;
    color: #9EA7B4;
}

.m-left .location::before{
    content: url("/Image/positionLight.png");
    position: absolute;
    left: -20px;
}

.m-left .update{
    position: relative;
    top: 22px;
    left: 190px;
    font-size: 11.3pt;
    color: #9EA7B4;
}

.m-left .update::before{
    content: url("/Image/updateLight.png");
    position: absolute;
    left: -20px;
}

.m-left .website{
    position: relative;
    top: -4px;
    left: 395px;
    font-size: 12.2pt;
    color: white;
    text-align: center;
    padding-top: 8px;
    background-color: #16C4EC;
    width: 217px;
    height: 29px;
}

.m-left .website.non-active{
    background-color: #B0BBCA;
}

.m-right{
    background-color:#EAEDF1;
    margin-left: -4px;
    height: 1173px;
    width: 625px;
    float: right;
}

.m-left div{
    padding: 0.1px;
}

.m-left div:nth-child(1){
    background-color: white;
    height: 339px;
    width: 635px;
}

.m-left div:nth-child(1) ul{
    margin-top: 30px;
    margin-left: 11px;
}

.m-left div:nth-child(2){
    background-color: white;
    margin-top: 33px;
    height: 321px;
    width: 635px;
}

.m-left div:nth-child(3){
    background-color: white;
    margin-top: 34px;
    height: 170px;
    width: 635px;
}

.m-left div:nth-child(4){
    background-color: white;
    margin-top: 32px;
    height: 168px;
    width: 635px;
}

.m-right div{
    padding: 0.1px;
    position: relative;
}

.m-right > div::before{
    content: "";
    background-color:#DBE1E8;
    width: 20px;
    height: 20px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: calc(50% - 8px);
    border-radius: 50%;
    left: -59px;
    z-index: 100;
}

.m-right div:nth-child(1){
    background-color: #DBE1E8;
    height: 170px;
    width: 625px;
}

.m-right div:nth-child(2){
    background-color: #DBE1E8;
    margin-top: 32px;
    height: 170px;
    width: 625px;
}

.m-right hr{
    position: absolute;
    width: 625px;
    border: 1.5px dotted #C2CAD4;
    top: 819px;
}

.m-right div:nth-child(3){
    background-color: #DBE1E8;
    margin-top: 70px;
    height: 128px;
    width: 625px;
}

.m-right div:nth-child(4){
    background-color: #DBE1E8;
    margin-top: 32px;
    height: 130px;
    width: 625px;
}

.m-right > div:nth-child(5){
    background-color: white;
    margin-top: 34px;
    height: 401px;
    width: 626px;
}

.m-right h2{
    margin-top: 30px;
    margin-left: 24px;
    font-size: 17pt;
    color: #33495F;
}

.m-right span{
    margin-left: 7px;
    font-family: "Lato";
    font-size: 11pt;
    color: #9EA7B4;
    letter-spacing: 0.2px;
}

.m-right h3{
    margin-left: 22px;
    margin-top: 2px;
    color: #04BCA6;
    font-size: 13.5pt;
}

.m-right .location{
    position: relative;
    top: 38px;
    left: 43px;
    font-size: 9.7pt;
    color: #33495F;
}

.m-right .location::before{
    content: url("/Image/positionDark.png");
    position: absolute;
    left: -18px;
}

.m-right .update{
    position: relative;
    top: 22px;
    left: 185px;
    font-size: 9.7pt;
    color: #33495F;
}

.m-right .update::before{
    content: url("/Image/updateDark.png");
    position: absolute;
    left: -20px;
}

.m-right .website{
    position: relative;
    top: -4px;
    left: 384px;
    font-size: 12.2pt;
    color: white;
    text-align: center;
    padding-top: 8px;
    background-color: #16C4EC;
    width: 217px;
    height: 29px;
}

#div3 .location,  
#div4 .location{
    top: 13px;
}

#div3 .update,
#div4 .update{
    top: -2px;
}

#div5 div{
    background-color: white;
    display: inline-block;
    width: 77px;
    height: 103px;
    margin-top: 15px;
    margin-right: 22px;
}

#div5 div:nth-child(1){
    margin-left: 19px;
}

#div5 div:nth-child(6){
    margin-right: 0;
}

#div5 img{
    height: 77px;
}

#div5 p{
    margin-top: 7px;
    font-size: 9.5pt;
    text-align: center;
    color: #33495F;
}

#div5 .progress{
    float: left;
    width: 237px;
    height: 50px;;
    margin-left: 21px;
    margin-top: 5px;
}

#div5 .progress:nth-child(2n){
    float: right;
    margin-right: 48px;
}

#div5 .progress.pr1,
#div5 .progress.pr2{
    margin-top: 28px;
}

progress{
    background-color: #f3f3f3;
    height: 0;
    border: 0;
    border-radius: 9px;
    position: relative;
}

progress::-webkit-progress-bar {
    background: #DAE0E7;
    height: 13px;
    border-radius: 6px;
    width: 270px;
}

progress::-webkit-progress-value {
    background: #0ECCC0;
    border-radius: 6px 0 0 6px;
}

#div5 .progress p{
    margin-top:0;
    position: relative;
    top: 11px;
    text-align: left;
    font-size: 12.3pt;
}

#div5 .progress div{
    position: absolute;
    background-color: #34495E;
    top: -4px;
    text-align: center;
    font-size: 8pt;
    color: white;
    padding-top: 4px;
    border-radius: 20%;
    width: 38px;
    height: 14px;
}

#div5 .progress div::before{ 
    content: '.';
    position:absolute; 
    left: calc(50% - 2px); 
    top: 150%; 
    margin-top:-10px;
    display:block;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-top: 4px solid #34495E;
    border-right: 4px solid transparent;
}

#div5 .progress.pr1 div{
    left: 196px;
}

#div5 .progress.pr2 div{
    left: 171px;
}

#div5 .progress.pr3 div{
    left: 123px;
}

#div5 .progress.pr4 div{
    left: 186px;
}

#div5 .progress.pr5 div{
    left: 231px;
}

#div5 .progress.pr6 div{
    left: 138px;
}

#div5 .progress.pr7 div{
    left: 205px;
}

#div5 .progress.pr8 div{
    left: 171px;
}

.footer img{
    position: absolute;
}

.footer{
    padding-top: 18px;
    text-align: center;
    font-size: 13.3pt;
    color: #34495E;
}

.footer img:nth-child(1){
    left: 454px;
    top: 1632px;
}

.footer img:nth-child(2){
    left: 1010px;
    top: 1632px;
}